@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa&family=Gabriela&display=swap');

/*
 * Globals
 */
:root {
  /* Colors */
  --cor1: #ffe600;
  --cor2: #a5960b;
  --cor3: #ff880d;
  --cor4: #B88D61;
  --cor5: #9f0c12;
  --cor6: #a5960b38;
  --cor7: #a5960b6b;

  /* Fonts */
  --default-font: 'Times New Roman', Georgia, serif;
  --stylized-font: 'Aref Ruqaa', 'Gabriela', var(--default-font)
}

::-webkit-scrollbar { 
  display: none; 
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  min-height: 100vh;
}

body {
  background: url("assets/images/background.gif") no-repeat fixed center center;
  background-size: cover;
  color: var(--cor1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: var(--stylized-font);
  text-align: center;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}

header {
  background: rgba(0, 0, 0, 0.5) no-repeat fixed;
  box-shadow: 0px 0px 20px 15px rgba(0, 0, 0, 0.5);
  margin: 0px auto 2%;
  padding: 1rem;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 2;
}

nav {
  margin: auto;
}

nav .nav-link {
  border-bottom: .25rem solid transparent;
  color: var(--cor2);
  font-weight: 700;
  margin: 0 1rem;
  padding: .25rem 0;
}

nav .nav-link:hover,
nav .nav-link:focus {
  border-bottom-color: var(--cor2);
  color: var(--cor2);
}

nav .active {
  border-bottom-color: var(--cor1);
  color: var(--cor1);
}

nav .active:hover {
  border-bottom-color: var(--cor1);
  color: var(--cor1);
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: auto;
  justify-content: center;
}

footer {
  background: rgba(0, 0, 0, 0.5) no-repeat fixed;
  box-shadow: 0px 0px 20px 15px rgba(0, 0, 0, 0.5);
  margin: 2% auto 0;
  padding: 0.5rem;
  width: 100%;
}

.base-width {
  max-width: 700px;
}

.background-shadow {
  background: rgba(0, 0, 0, 0.5) no-repeat fixed;
  box-shadow: 0px 0px 20px 15px rgba(0, 0, 0, 0.5);
}

.text-link {
  color: var(--cor3);
  text-decoration: none;
}

.text-link:hover {
  color: var(--cor3);
  text-decoration: underline;
}

/*
Home
*/
.cover-container {
  padding: 4% 2% 2%;
}

.tr-logo {
  max-height: auto;
  max-width: 100%;
}

/*
Map
*/
.map {
  height: 90%;
  width: 80%;
}

.iframe-map-style {
  border-radius: 5px;
  border: 3px ridge var(--cor2);
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.5);
}

/*
Timeline
*/
.timeline-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1200px;
}

.timeline {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
}

.custom {
  width: 40%;
}

.year {
  background: linear-gradient(to right, transparent 45%, var(--cor2) 45%, var(--cor2) 45%, transparent 50%);
  display: flex;
  flex-basis: 100px;
  order: 2;
  text-align: center;
  
}

.year > span {
  background: url("assets/images/scroll-texture.jpg");
  background-size: cover;
  border: 4px solid var(--cor4);
  border-radius: 50px;
  color: var(--cor5);
  font-size: 1.1rem;
  height: 50px;
  line-height: 40px;
  margin: auto;
  width: 90px;
}

.info {
  background: url("assets/images/scroll.png") no-repeat 50% 20%;
  background-size: cover;
  border-radius: 5px;
  color: var(--cor5);
  font-size: calc(0.8rem + 0.4vw);
  margin-bottom: 3%;
  order: 3;
  padding: 5% 6% 2%;
  width: 40%;
  text-align: center;
  transition: all .6s ease;
}

.info h3 {
  font-size: calc(1.2rem + 0.8vw);
  margin-bottom: 2%;
}

.info p {
  margin: auto;
}

.box-right .info {
    order: 1;
}

.box-right .custom {
    order: 3;
}

/*
Deities
*/

.slide {
  display: none;
  padding: 1% 2%;
}

.slide .active {
  display: block;
}

.slide img {
  max-height: auto;
  max-width: 100%;
}

.indicators-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  position: relative;
  width: 100%;
  z-index: 2;
}

.indicator {
  background-color: #a5960b6b;
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  box-sizing: content-box;
  flex: 0 1 auto;
  height: 3px;
  margin: 0 3px;
  padding: 0;
  width: 30px;
}

.indicators-container .active {
  background-color: var(--cor1);
}

.slide h1 {
  font-size: calc(1.375rem + 1vw);
}

.slide p {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.slideshow-container {
  position: relative;
}

.prev-button-container, .next-button-container {
  border-radius: 10%;
  display: inline-block;
  margin-bottom: -50px;
  padding: 1%;
  position: absolute;
  top: 38%;
  z-index: 1;
}

.prev-button-container {
  right: 90%;
}

.next-button-container {
  left: 90%;
}

.prev-button-container:hover, .next-button-container:hover {
  background-color: var(--cor6);
  cursor: pointer;
  text-decoration: none;
}

.prev-button, .next-button {
  background: transparent url("assets/images/left-arrow.png") no-repeat;
  background-size: 100% 100%;
  border: 0;
  height: 2rem;
  padding: 10px;
  text-decoration: none;
  width: 2rem;
}

.next-button {
  background: transparent url("assets/images/right-arrow.png") no-repeat;
  background-size: 100% 100%;
}

/*
Media queries
*/
@media (max-width: 992px) {
  .info {
    background-size: cover;
    padding: 10% 5%;
  }
}

@media (max-width: 640px) {
  .info {
    background-size: cover;
    padding: 10% 12% 10%;
    width: 80%;
  }

  .custom {
    width: auto;
  }

  .box-right .info {
    order: 3;
  }

  .box-right .custom {
    order: 3;
  }
}

@media (max-width: 450px) {
  .lead {
    font-size: calc(1rem + 0.2vw);
  }

  .info {
    font-size: calc(0.7rem + 0.1vw);
    line-height: calc(0.9rem + 0.1vw);
  }

  .info h3 {
    font-size: calc(1.05rem + 0.2vw);
  }

  .year > span {
    font-size: 0.9rem;
    height: fit-content;
    width: 80px;
  }
}

@media (max-width:320px) {
  .info {
    background-size: auto;
    margin-right: 5px;
    padding: 10% 5%;
  }
}
